<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoadDB</servlet-name>
        <servlet-class>Controllers.LoadDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>Controllers.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryControl</servlet-name>
        <servlet-class>Controllers.CategoryControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsControl</servlet-name>
        <servlet-class>Controllers.DetailsControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchControl</servlet-name>
        <servlet-class>Controllers.SearchControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>Controllers.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpControl</servlet-name>
        <servlet-class>Controllers.SignUpControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutControl</servlet-name>
        <servlet-class>Controllers.LogOutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerControl</servlet-name>
        <servlet-class>Controllers.ManagerControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteControl</servlet-name>
        <servlet-class>Controllers.DeleteControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadControl</servlet-name>
        <servlet-class>Controllers.LoadControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditControl</servlet-name>
        <servlet-class>Controllers.EditControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListManagerProduct</servlet-name>
        <servlet-class>Controllers.ListManagerProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassControl</servlet-name>
        <servlet-class>Controllers.ForgePassControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartControl</servlet-name>
        <servlet-class>Controllers.AddCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCart</servlet-name>
        <servlet-class>Controllers.ShowCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassControl</servlet-name>
        <servlet-class>Controllers.ForgetPassControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetProcessControl</servlet-name>
        <servlet-class>Controllers.ForgetProcessControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartProcessControl</servlet-name>
        <servlet-class>Controllers.CartProcessControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartControl</servlet-name>
        <servlet-class>Controllers.RemoveCartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutControl</servlet-name>
        <servlet-class>Controllers.CheckOutControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginControl</servlet-name>
        <servlet-class>Controllers.AdminLoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAdminControl</servlet-name>
        <servlet-class>Controllers.UserAdminControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminControl</servlet-name>
        <servlet-class>Controllers.AdminControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserAdmin</servlet-name>
        <servlet-class>Controllers.DeleteUserAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserAdminControl</servlet-name>
        <servlet-class>Controllers.EditUserAdminControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInfoControl</servlet-name>
        <servlet-class>Controllers.UpdateInfoControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderAdminControl</servlet-name>
        <servlet-class>Controllers.OrderAdminControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductAdminControl</servlet-name>
        <servlet-class>Controllers.ProductAdminControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductAdminControl</servlet-name>
        <servlet-class>Controllers.DeleteProductAdminControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductAdmin</servlet-name>
        <servlet-class>Controllers.EditProductAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessEditProductAdmin</servlet-name>
        <servlet-class>Controllers.ProcessEditProductAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderLineControl</servlet-name>
        <servlet-class>Controllers.OrderLineControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderLineAdminControl</servlet-name>
        <servlet-class>Controllers.DeleteOrderLineAdminControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryAdminControl</servlet-name>
        <servlet-class>Controllers.CategoryAdminControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoryAdminControl</servlet-name>
        <servlet-class>Controllers.AddCategoryAdminControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoryAdminControl</servlet-name>
        <servlet-class>Controllers.DeleteCategoryAdminControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCategoryAdminControl</servlet-name>
        <servlet-class>Controllers.EditCategoryAdminControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditerCategoryAdminControl</servlet-name>
        <servlet-class>Controllers.EditerCategoryAdminControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProfileControl</servlet-name>
        <servlet-class>Controllers.ManagerProfileControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditerAdminControl</servlet-name>
        <servlet-class>Controllers.EditerAdminControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessEditProfileControl</servlet-name>
        <servlet-class>Controllers.ProcessEditProfileControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sendmail</servlet-name>
        <servlet-class>Controllers.Sendmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOtpProcessControl</servlet-name>
        <servlet-class>Controllers.VerifyOtpProcessControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUsersAdminControl</servlet-name>
        <servlet-class>Controllers.AddUsersAdminControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessAddUserAdmin</servlet-name>
        <servlet-class>Controllers.ProcessAddUserAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductAdmin</servlet-name>
        <servlet-class>Controllers.AddProductAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadDB</servlet-name>
        <url-pattern>/LoadDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/CategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryControl</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsControl</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchControl</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/Login/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpControl</servlet-name>
        <url-pattern>/Login/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutControl</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerControl</servlet-name>
        <url-pattern>/manager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteControl</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadControl</servlet-name>
        <url-pattern>/loadProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditControl</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListManagerProduct</servlet-name>
        <url-pattern>/ListManagerProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassControl</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartControl</servlet-name>
        <url-pattern>/addCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCart</servlet-name>
        <url-pattern>/showCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassControl</servlet-name>
        <url-pattern>/forgetPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetProcessControl</servlet-name>
        <url-pattern>/fpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartProcessControl</servlet-name>
        <url-pattern>/cartprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartControl</servlet-name>
        <url-pattern>/removecart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutControl</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginControl</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAdminControl</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminControl</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserAdmin</servlet-name>
        <url-pattern>/admin/users/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserAdminControl</servlet-name>
        <url-pattern>/admin/edituser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInfoControl</servlet-name>
        <url-pattern>/updateinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderAdminControl</servlet-name>
        <url-pattern>/orderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductAdminControl</servlet-name>
        <url-pattern>/productdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductAdminControl</servlet-name>
        <url-pattern>/deleteproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductAdmin</servlet-name>
        <url-pattern>/editproduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessEditProductAdmin</servlet-name>
        <url-pattern>/processeditpradmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderLineControl</servlet-name>
        <url-pattern>/orderline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderLineAdminControl</servlet-name>
        <url-pattern>/deleteorderline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryAdminControl</servlet-name>
        <url-pattern>/categoryadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoryAdminControl</servlet-name>
        <url-pattern>/addcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoryAdminControl</servlet-name>
        <url-pattern>/deletecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCategoryAdminControl</servlet-name>
        <url-pattern>/editcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditerCategoryAdminControl</servlet-name>
        <url-pattern>/editercategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProfileControl</servlet-name>
        <url-pattern>/profiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditerAdminControl</servlet-name>
        <url-pattern>/editerprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessEditProfileControl</servlet-name>
        <url-pattern>/processprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sendmail</servlet-name>
        <url-pattern>/sendmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOtpProcessControl</servlet-name>
        <url-pattern>/verifyprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUsersAdminControl</servlet-name>
        <url-pattern>/admin/addusers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessAddUserAdmin</servlet-name>
        <url-pattern>/processadduser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductAdmin</servlet-name>
        <url-pattern>/addproduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
